<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style1.css">
</head>
<body>
    <h1>{{welcomeMessage}}</h1>
    <div class="container">
        <button id="btn1" onclick="openPhpMyAdmin()">{{createDB}}</button>
        <button id="btn2" onclick="openlocalhost()">{{addDatabutton}}</button>
        <button id="btn3" onclick="openSearch()">Search</button>
        <button id="btn4" onclick="openAnimeManga()">Anime & Manga</button>
        <button id="btn5" onclick="openWatchlist()">Watchlist</button>
        <button id="btn6" onclick="openNames()">Names Dictionary</button>
    </div>
    <script>
        function openPhpMyAdmin() {
            // Replace the URL with your actual phpMyAdmin URL
            window.open("http://localhost:8000/phpmyadmin","_blank");
        }

        function openlocalhost() {
           window.location.href="http://localhost:3000/index";
        }
        
        function openSearch() {
            window.location.href="http://localhost:3000/search";
        }

        function openAnimeManga() {
            window.location.href="http://localhost:3000/anime-manga";
        }

        function openWatchlist() {
            window.location.href="http://localhost:3000/watchlist";
        }
        
        function openNames() {
            window.location.href="http://localhost:3000/names";
        }
    </script>
</body>
</html>
